on:
  workflow_dispatch:
  push:
    branches:
      - testWorkflowRun
name: release
env:
  FORCE_COLOR: 2
  NODE: 24
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.set-tag.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE }}
          cache: npm
          registry-url: 'https://registry.npmjs.org'
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: npm ci
      - run: npm run build
      - run: mkdir -p build/binaries
      - run: npm run build-binaries
      - name: Upload binaries to release
        uses: actions/upload-artifact@v4
        with:
          name: linkinator-linux
          path: build/binaries/linkinator-linux

      - name: Set dummy tag name
        id: set-tag
        run: echo "tag_name=v1.0.0-test" >> $GITHUB_OUTPUT
  docker:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          name: linkinator-linux
          path: build/binaries
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: BINARY_PATH=build/binaries/linkinator-linux
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
